body{background-color: #f2f2f2;}
/*ç™½è‰²é¡¶éƒ¨*/
.top-header{z-index: 1;  width: 100%;  background-color:#2fb8ce; display: table; border-bottom: solid 1px rgba(0,0,0,0.2);}
.top-header h3{ font-size: 1.9em;  color: #333; margin: 0 30%; display: table-cell;  font-weight: normal; text-align: center;  padding: 1em 0;}
.top-header .text{display: table-cell; text-align: center; width: 20%; font-size: 1.5em; color: #fc605a; }
.top-header .texta{ color: #999;}
.top-header a{display: table-cell;}
.top-header .icona{ width: 15%; padding-left: 3%; vertical-align: middle;}/*åªèƒ½æ·»åŠ å›¾æ ‡*/
.top-header .iconb{ width: 11%;padding-right: 5%; vertical-align: middle;}/*åªèƒ½æ·»åŠ å›¾æ ‡*/
.top-header .text-top{ width: 11%;color: #999;font-size: 1.169em; vertical-align: middle;}/*èƒ½æ·»åŠ æ–‡å­—*/
.top-header img{ width: 100%;}

.nav-fixed-container {
    top: 0
}

.nav-fixed-container,.nav-fixed-container-new {
    position: fixed;
    z-index: 9998;
    height: .39rem;
    overflow: scroll;
    background-color: #fff
}

.nav-fixed-container-new {
    top: .45rem
}

.nav-fixed-container-old {
    top: 0
}

.nav-fixed {
    height: .45rem;
    width: 100%;
    max-width: 3.75rem;
    text-align: center;
    z-index: 9999;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    font-size: 0
}

.nav-fixed .fixed-nav-item-orders {
    font-size: .14rem;
    display: inline-block;
    height: .39rem;
    border-bottom: 1px solid #ededed;
    width: .69rem;
    z-index: 1000
}

.nav-fixed .fixed-nav-item-orders span {
    display: inline-block;
    line-height: .39rem;
    height: .39rem;
    color: #58595b
}

.nav-fixed .fixed-nav-item-orders .nav-cur {
    border-bottom: 2px solid #e02e24;
    color: #e02e24!important
}

.head-block {
    text-align: center;
    margin: 1.16rem 0 1.15rem;
    background-color: #f5f5f5;
    line-height: 1
}

.head-block .hint {
    font-size: .16rem;
    color: #58595b;
    margin-bottom: .12rem;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-flex-direction: column
}

.head-block .hint:before {
    content: "\E775";
    font-size: .7rem;
    color: #ccc;
    font-family: icomoon-psnl;
    line-height: 1;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin-bottom: .31rem
}

.head-block .recommend-hint {
    font-size: .14rem;
    color: #9c9c9c
}

.head-block .recommend-hint .go-all-order {
    color: #70b8fa
}

.recommend-head {
    height: .44rem;
    font-size: .16rem;
    text-align: center;
    line-height: .44rem;
    color: #e02e24;
    background-color: #fff
}

.recommend-head:before {
    content: "\E680";
    font-size: .18rem;
    color: #e02e24;
    font-family: icomoon;
    line-height: 1;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    position: relative;
    margin-right: .1rem;
    top: .01rem
}