html {
    font-size: 100px;
}

div {
    box-sizing: border-box;
}

body,
input,
i,
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    font-size: 0.12rem;
}

body {
    background: rgb(250, 250, 250);
}

.header>.top {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 0.44rem;
    background: #26A69A;
    font-size: 0.14rem;
    color: white;
    width: 100%;
    text-align: center;
    padding-left: 0.17rem;
    padding-right: 0.17rem;
    line-height: 0.44rem;
}

.header:after {
    content: "";
    display: block;
    clear: both;
}

.top>.address {
    float: left;
}

.top input {
    width: 2.54rem;
    height: 0.28rem;
}

.search>i {
    position: absolute;
    left: 0.83rem;
    top: 0.17rem;
    z-index: 10;
    color: gray;


}

.top>.xx {
    position: absolute;
    left: 3.1rem;
    top: 0.08rem;
    z-index: 5;
    color: gray;
    font-size: 0.14rem;
}

.top>.sm {
    position: absolute;
    left: 3.35rem;
    top: 0rem;
    z-index: 5;
    color: white;
    font-size: 0.28rem;
    margin-left: 0.1rem;


}

.header>.banner {
    margin-top: 0.44rem;
}

.banner>.img {
    position: relative;
    width: 100%;
    height: 1.64rem;
}

.banner>.img>img {
    width: 100%;
    height: 1.64rem;
    object-fit: cover;
}

.banner .cut1,
.banner .cut2 {
    font-size: 0.4rem;
    color: white;
    font-weight: lighter;
}

.banner .cut1 {
    position: absolute;
    left: 0.1rem;
    top: 0.55rem;
    z-index: 5;
}

.banner .cut2 {
    position: absolute;
    right: 0.1rem;
    top: 0.55rem;
    z-index: 5;
}

.nav {
    height: 1.08rem;
    width: 100%;
    background: white;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding-top: 0.16rem;
    text-align: center;
    color: #666666;


}

.nav>.first>.top,
.nav>.sec>.top,
.nav>.third>.top,
.nav>.four>.top {
    width: 0.6rem;
    height: 0.6rem;
    margin-bottom: 0.08rem;
}

.nav>.first>.top {
    background: #48BDB2;
}

.nav>.sec>.top {


    background: #FF5353;


}

.nav>.third>.top {
    background: #5B96F7;


}

.nav>.four>.top {
    background: #F38A42;


}

.top>i {
    font-size: 0.35rem;
    color: white;
    margin-top: 0.1rem;
}

.intro {
    width: 100%;
    height: 0.36rem;
    background: rgb(234, 246, 245);


    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    font-size: 0.09rem;
    color: #333333;
    border: 1px solid #26A69A;


}

.intro>img {
    width: 0.43rem;
    height: 0.342rem;
    margin-right: 0.09rem;
}

.intro span {
    color: red;
}

.show {
    height: 1rem;
}

.content>.first {
    height: 1.85rem;
    background: white;
    padding-left: 0.12rem;
    padding-top: 0.13rem;
    padding-right: 0.17rem;
}

.content {
    overflow: scroll;
}

.content>.first>.title {
    color: #666666;


}

.first>.title>span {
    color: green;
    font-weight: bold;
    font-size: 0.12rem;
    margin-left: 0.08rem;
}


.first>.title>a {
    float: right;
    color: #666666;
}

.first>.left {
    width: 2.16rem;
    height: 1.36rem;
    background: red;
}

.first>.left>img {
    width: 2.16rem;
    object-fit: cover;
}

.content>.first>.firstImg {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.first .right>.top {
    margin-top: 0.12rem;
    margin-bottom: 0.1rem;
}

.first .left {
    margin-top: 0.12rem;


}

.cell {
    /* padding-left: 0.12rem;
    padding-right: 0.17rem; */
    margin-top: 0.13rem;
    background: #ffffff;


}


.cell>.title {
    font-size: 20px;
    color: #666666;
    height: 38px;
}

.cell>.title>span {
    color: green;
    font-weight: bold;
    font-size: 25px;
    margin-left: 0.08rem;

}

.cell>.title>a {
    color: #666666;
    margin-left: 60%;
}

.cell .cell1 {
    width: 46%;
    height: 210px;
    background: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 10%;

}


.cell1>.left {
    width: 100%;
    height: 2rem;
}

.cell1 img {
    width: 90%;
    height: 115px;
    object-fit: cover;
    display: block;
    border-radius: 10%;
    margin: 0px auto;
}

.cell1 .img {
    width: 100%;

    border-radius: 10%;
    background: #fffffff5;
}

.cell1 .name {
    color: black;
    font-size: 17px;
    margin-bottom: 3px;
}

.cell1>.left>.view {
    font-size: 0.09rem;
    color: gray;
    border-bottom: 1px dashed gray;
    margin-bottom: 0.1rem;
    padding-bottom: 0.08rem;
}

.cell1>.left>.shop {
    float: right;
    background: #26A69A;
    border-radius: 4px;
    padding: 0.03rem 0.05rem;
    font-size: 0.12rem;
    color: white;
    margin-right: 0.03rem;
}

.cell1>.left>span {
    color: red;
    font-size: 18px;


}

.cell>.bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: rgb(250, 250, 250);
    width: 100%;

}

/* .cell .cell1 {
    margin-bottom: 0.15rem;
} */


.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    height: 0.48rem;
    background: #26A69A;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    line-height: 0.24rem;
}

.footer>.option {
    width: 25%;
    text-align: center;
    padding-top: 5px;
}

.content {
    margin-bottom: 0.5rem;
}

.footer {
    color: white;
}

.footer i {
    font-size: 0.15rem;
}

.footer .list {
    font-size: 12px;
}

.footer>.option:hover {
    background: white;
    color: #26A69A;
}

#frame {
    /*----------图片轮播相框容器----------*/
    position: absolute;
    /*--绝对定位，方便子元素的定位*/
    width: 100%;
    height: 1.64rem;
    overflow: hidden;
    /*--相框作用，只显示一个图片---*/
    border-radius: 5px;
}

#dis {
    /*--绝对定位方便li图片简介的自动分布定位---*/
    position: absolute;
    left: -50px;
    top: -10px;
    opacity: 0.5;
}

#dis li {
    display: inline-block;
    width: 200px;
    height: 20px;
    margin: 0 50px;
    float: left;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background: #000;
}

#photos img {
    float: left;
    width: 300px;
    height: 200px;
}

#photos {
    /*---设置总的图片宽度--通过位移来达到轮播效果----*/
    position: absolute;
    z-index: 9px;
    width: calc(300px * 3);
    /*---修改图片数量的话需要修改下面的动画参数*/
}

.play {
    animation: ma 20s ease-out infinite alternate;
    /**/
}

@keyframes ma {

    /*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/
    0%,
    20% {
        margin-left: 0px;
    }

    25%,
    40% {
        margin-left: -300px;
    }

    45%,
    60% {
        margin-left: -600px;
    }


}

.num {
    position: absolute;
    z-index: 10;
    display: inline-block;
    right: 10px;
    top: 165px;
    border-radius: 100%;
    background: #f00;
    width: 25px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    opacity: 0.8;
}

.num:hover {
    background: #00f;
}

.num:hover,
#photos:hover {
    animation-play-state: paused;
}

.num:nth-child(2) {
    margin-right: 30px
}

.num:nth-child(3) {
    margin-right: 60px
}

.num:nth-child(4) {
    margin-right: 90px
}

.num:nth-child(5) {
    margin-right: 120px
}

#a1:hover~#photos {
    animation: ma1 .5s ease-out forwards;
}

#a2:hover~#photos {
    animation: ma2 .5s ease-out forwards;
}

#a3:hover~#photos {
    animation: ma3 .5s ease-out forwards;
}

#a4:hover~#photos {
    animation: ma4 .5s ease-out forwards;
}

#a5:hover~#photos {
    animation: ma5 .5s ease-out forwards;
}

@keyframes ma1 {
    0% {
        margin-left: -1200px;
    }

    100% {
        margin-left: -0px;
    }
}

@keyframes ma2 {
    0% {
        margin-left: -1200px;
    }

    100% {
        margin-left: -300px;
    }
}

@keyframes ma3 {
    100% {
        margin-left: -600px;
    }
}

@keyframes ma4 {
    100% {
        margin-left: -900px;
    }
}

@keyframes ma5 {
    100% {
        margin-left: -1200px;
    }
}

.xiaotu {
    height: 25px;
}

.xiaotu img {
    width: 25px;
    height: 25px;
}